@if (type() === 'link') {
<a [routerLink]="routerLink()" [class]="buttonClass() || defaultClass()">
  <ng-container [ngTemplateOutlet]="contentTemplate" />
</a>
} @else {
<button
  type="button"
  [class]="buttonClass() || defaultClass()"
  (click)="buttonClick.emit()">
  <ng-container [ngTemplateOutlet]="contentTemplate" />
</button>
}

<ng-template #contentTemplate>
  <ng-content />

  <div
    class="absolute -inset-e-6 size-9 bg-main flex items-center justify-center rounded-full"
    [class.border-2]="buttonSpacing() !== 'none'"
    [class.border-white]="buttonSpacing() !== 'none'"
    [class.top-0]="buttonSpacing() === 'small'"
    [class.top-2]="buttonSpacing() === 'large'">
    <svg
      lucideArrowUpRight
      class="size-6 rtl:rotate-270"
      [class.text-white]="buttonSpacing() !== 'none'"
      [class.text-dark]="buttonSpacing() === 'none'"></svg>
  </div>
</ng-template>
