@if (message().sender === 'bot') {
<div class="flex items-center gap-1">
  <img src="assets/images/image_bot.svg" class="w-12" alt="" />
  <div
    class="text-left rounded-tr-[20px] rounded-br-[20px] rounded-bl-[20px] rounded-tl-none bg-light dark:bg-[#00000040] backdrop-blur-[15px] shadow-[0_0_10px_rgba(0,0,0,0.25)] p-2 text-sm text-dark dark:text-light">
    {{ message().text }}
  </div>
</div>
} @else {
<div class="flex items-center flex-row-reverse gap-1">
  <img src="assets/images/image_bot.svg" class="w-12" alt="" />
  <div
    class="text-right rounded-tl-[20px] rounded-br-[20px] rounded-bl-[20px] rounded-tr-none bg-[#FF6A0080] backdrop-blur-[15px] shadow-[0_0_10px_rgba(0,0,0,0.25)] p-2 text-sm text-light">
    {{ message().text }}
  </div>
</div>
}
