<section
  id="classes"
  class="relative py-16 dark:text-white text-dark overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-2">
    <!-- Section Title -->
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <app-landing-section-title
        type="workouts"
        [isCenter]="true"
        title="landing_page_why_us_section_subtitle_label" />

      <h2 class="text-3xl sm:text-4xl font-bold uppercase">
        {{ 'landing_page_workouts_section_heading_main_text' | transloco }}
        <span class="text-main">
          {{
            'landing_page_workouts_section_heading_highlight_text' | transloco
          }}
        </span>
      </h2>
    </div>

    <!-- Filter Category Tabs -->
    <div
      class="flex flex-wrap justify-center items-center gap-2 sm:gap-4 my-8 md:my-12">
      @for (cat of categories; track cat.id) {
        <button
          (click)="selectCategory(cat.id)"
          [class]="
            selectedCategory() === cat.id
              ? 'bg-main text-white px-6 py-2 rounded-full font-bold shadow-lg shadow-main/30'
              : 'text-white px-6 py-2 rounded-full font-semibold'
          ">
          {{ cat.labelKey | transloco }}
        </button>
      }
    </div>

    <!-- Cards Slider -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-4">
      @for (workout of filteredWorkouts(); track $index) {
        <!-- Workout Card -->
        <lib-shared-card
          [cardTitle]="workout.titleKey | transloco"
          [cardImage]="workout.image"
          [cardButton]="button" />
      }
    </div>
  </div>

  <div
    class="absolute top-20 inset-x-0 h-3/5 w-full bg-white/50 backdrop-blur-lg z-1"></div>

  <div
    class="absolute top-0 inset-x-0 h-full w-full bg-[url('assets/images/healthy-bg.jpg')] bg-no-repeat bg-cover"></div>
</section>

<ng-template #button>
  <app-button
    type="link"
    [routerLink]="['/workouts']"
    [buttonSpacing]="'none'"
    [buttonStyle]="'none'">
    {{ 'landing_page_hero_section_cta_start_label' | transloco }}
  </app-button>
</ng-template>
