<main class="w-[80%] mx-auto mb-8 mt-20 text-light">
  <header class="mb-8">
    <h1 class="text-center text-3xl font-extrabold">Change Password</h1>
  </header>

  <div
    class="rounded-4xl border border-[#D3D3D3]/70 bg-dark/50 backdrop-blur-sm px-12 py-8">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex flex-col gap-y-3">
      <!-- Current Password -->
      <app-custom-form-field>
        <div class="relative">
          <lucide-icon
            [name]="icons.Lock"
            size="16"
            class="absolute left-3 top-1/2 -translate-y-1/2 text-disabled" />

          <app-custom-input
            formControlName="oldPassword"
            type="password"
            placeholder="Current Password"
            inputClass="w-full rounded-full border border-[#D3D3D3] bg-[#2f2f2f] py-3.5 pl-12 pr-12" />
        </div>

        <app-input-error-message
          [control]="form.controls.oldPassword"
          [messages]="oldPasswordErrorMessages" />
      </app-custom-form-field>

      <!-- New Password -->

      <app-custom-form-field>
        <div class="relative">
          <lucide-icon
            [name]="icons.Lock"
            size="16"
            class="absolute left-3 top-1/2 -translate-y-1/2 text-disabled" />

          <app-custom-input
            formControlName="newPassword"
            type="password"
            placeholder="New Password"
            inputClass="w-full rounded-full border border-[#D3D3D3] bg-[#2f2f2f] py-3.5 pl-12 pr-12" />
        </div>

        <app-input-error-message
          [control]="form.controls.newPassword"
          [messages]="newPasswordErrorMessages" />
      </app-custom-form-field>

      <!-- Confirm Password -->

      <app-custom-form-field>
        <div class="relative">
          <lucide-icon
            [name]="icons.Lock"
            size="16"
            class="absolute left-3 top-1/2 -translate-y-1/2 text-disabled" />

          <app-custom-input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm Password"
            inputClass="w-full rounded-full border border-[#D3D3D3] bg-[#2f2f2f] py-3.5 pl-12 pr-12" />
        </div>
        <app-input-error-message
          [control]="form.controls.confirmPassword"
          [messages]="confirmPasswordErrorMessages" />
      </app-custom-form-field>

      <app-custom-button
        type="submit"
        [disabled]="form.invalid"
        [loading]="isLoading()">
        Save Changes
      </app-custom-button>

      @if (errorMessage()) {
      <p class="text-center text-sm text-main">{{ errorMessage() }}</p>
      } @if (successMessage()) {
      <p class="text-center text-sm text-green-500">{{ successMessage() }}</p>
      }
    </form>
  </div>
</main>
