<div class="w-full  flex flex-col gap-8 text-white">
  @if (!showGender) {
  <app-step-personal-info (loginClicked)="showGender = true" />
  } @else if(!showAge) {
  <lib-gender-component (loginClicked)="showAge = true" />
  } @else if (!showWeight) {
  <lib-age-selection (nextClicked)="showWeight = true" />
  } @else if (!showHeight){
  <lib-weight-selection (nextClicked)="showHeight = true" />
  }
  @else if (!showGoal) {
  <lib-height-selection (nextClicked)="showGoal = true" />
  }
  @else if (!showPhysical) {
  <lib-goal-selection (nextClicked)="showPhysical = true" />
  }
  @else {
  <lib-physcial-selection />
  }
</div>