<div class="w-full  flex flex-col gap-8 text-white">
  @if (!showGender) {
  <app-step-personal-info [savedData]="savedPersonalInfo" (loginClicked)="onPersonalInfo($event)" />
  } @else if(!showAge) {
  <lib-gender-component [savedGender]="savedGender" (loginClicked)="onGender($event)" (backClicked)="goBackToPersonal()" />
  } @else if (!showWeight) {
  <lib-age-selection [savedAge]="savedAge" (nextClicked)="onAge($event)" (backClicked)="goBackToGender()" />
  } @else if (!showHeight){
  <lib-weight-selection [savedWeight]="savedWeight" (nextClicked)="onWeight($event)" (backClicked)="goBackToAge()" />
  }
  @else if (!showGoal) {
  <lib-height-selection [savedHeight]="savedHeight" (nextClicked)="onHeight($event)" (backClicked)="goBackToWeight()" />
  }
  @else if (!showPhysical) {
  <lib-goal-selection [savedGoal]="savedGoal" (nextClicked)="onGoal($event)" (backClicked)="goBackToHeight()" />
  }
  @else {
  <lib-physcial-selection [savedPhysical]="savedPhysical" (nextClicked)="onPhysical($event)" (backClicked)="goBackToGoal()" />
  }
</div>
